{% extends "base.html" %}

{% block title %}{{ block.super }} - Index{% endblock %}

{% block main_content %}

<div ng-controller="TagCtrl">

  <h2>Total number of tags: {{ counted_tags|length }}</h2>
  <a href="createform">Create new tagref</a>
  {% if counted_tags %}
      <ul>
      {% for tag, count in counted_tags %}
      <li><a href="{% url tag tag.tag %}">{{ tag.tag }} ({{ count }})</a>
      (<a ng-click="deleteTag('{{tag.tag}}');">delete</a>)
      </li>

      {% endfor %}
      </ul>
  {% else %}
      <p>No tags found.</p>
  {% endif %}

</div>

{{ block.super }}
{% endblock main_content %}
