
body {
  background: #666;
  /* for fixed navbar */
  margin: 40px;
}

.container {
  width:800px;
  background: #fff;
  border: 2px solid black;
}

.navbar {
  width:800px;
  margin: 0 auto;
  border: 2px solid black;
}

.content {
  padding:1.0em;
}

hr {
  margin: 0;
}

.main-ref {
  font-weight: bold;
}

.highlighted {
  background:yellow;
}

.navigation {
  margin-top:5px;
}
