
body {
  background: #eee;
}

.container {
  width:800px;
  background: #fff;
}

.content {
  padding:1.0em;
}

hr {
  margin: 0;
}

.main-ref {
  font-weight: bold;
}

.highlighted {
  background:yellow;
}

.navigation {
  margin-top:5px;
}
