{% extends "base.html" %}

{% block title %}{{ block.super }} - Library Resource{% endblock %}

{% block main_content %}

<form action="/tagz/lib/{{resource_name}}/{{sub_ref}}" method="get" class="form-search">
    <input class="search-query" type="text" name="q" placeholder="enter a query"/>
<input type="submit" value="search" />
<p>

  {% if resource_name != title %} 
    <h3><a href="/tagz/lib/{{resource_name}}">{{ resource_name }}</a></h3> 
  {% endif %} 

  <h1> {{ title }}</h1>
  {% if children %}
    <ul>
    {% for child in children %}
      <li><a href="/tagz/lib/{{resource_name}}/{{child.pretty}}">{{ child.pretty }}</a></li>
      {% if show_child_text %}
        {{ child.text }}
      {% endif %}
    {% endfor %}
    </ul>
  {% elif text %}
    <p>
    {{ text }}
  {% else %}
    There were no results.
  {% endif %}

{{ block.super }}
{% endblock main_content %}
