{% extends "base.html" %}

{% block title %}{{ block.super }} - Library Resource{% endblock %}

{% block main_content %}

<form action="/tagz/lib/{{resource_name}}/{{sub_ref}}" method="get" class="form-search">
    <input class="search-query" type="text" name="q" placeholder="enter a reference or query"/>
<input type="submit" value="search" />
<p>

  {% if resource_name != title %} 
    <h3><a href="/tagz/lib/{{resource_name}}">{{ resource_name }}</a></h3> 
  {% endif %} 

  <h1> {{ title }}</h1>
  {% if children %}
    {% for child in children %}
    <div class="row-fluid">
      <div class="span2">
        <a class= "main-ref" href="/tagz/lib/{{resource_name}}/{{child.pretty}}">{{ child.pretty }}</a>
      </div>
        {% if show_child_text %}
          {{ child.text }}
        {% else %}
        <div class="span10">
          {% for child2 in child.children %}
            {% with child2.pretty|cut:child.pretty|cut:":" as child2_short %}
              <a href="/tagz/lib/{{resource_name}}/{{child2.pretty}}">{{ child2_short }}</a>
            {% endwith %}
          {% endfor %}
        </div>
        {% endif %}
    </div>
    <hr>
    {% endfor %}
  {% elif text %}
    <p>
    {{ text }}
  {% else %}
    There were no results.
  {% endif %}

  <br>
  <br>

{{ block.super }}
{% endblock main_content %}
