{% extends "base.html" %}

{% block title %}{{ block.super }} - Index{% endblock %}

{% block main_content %}

  <div ng-controller="TagCtrl">

  <h2>References tagged with '{{ tag.tag }}'</h2>
      <a href="refs/createform">Create</a> new tagref
  <br> <a ng-click="deleteTag('{{tag.tag}}');">Delete</a> this tag
  <br> <a ng-click="renameTag('{{tag.tag}}');">Rename</a> this tag
  {% if related_refs_n_tags %}
      <div style="width:750px">
      <ul>
      {% for id, ref, ref_path, tags, text in related_refs_n_tags %}
      <li style="margin:10px 0px; list-style:none"><a style="font-size:1.2em" href="{{ ref_path }}">{{ ref }}</a>
          (<a href="refs/{{id}}">view</a>)
          (<a ng-click="deleteTagRef({{id}});">delete</a>)
        <ul>
          <li style="font-size:1.3em">
          {{ text }}
          </li>
          <li>
        {% for rtag in tags %}
        <a href="/tagz/tags/{{ rtag }}/"><span class="label label-info">{{ rtag }}</span></a>
        {% endfor %}
          </li>
        </ul>
      </li>
      {% endfor %}
      </ul>
      </div>
  {% else %}
      <p>This tag is not used for any reference.</p>
  {% endif %}
  <p>
  <p>
  Return to <a href="/tagz/tags">all tags</a>.

  </div>

{{ block.super }}
{% endblock main_content %}
