{% extends "base.html" %}

{% block title %}{{ block.super }} - Index{% endblock %}

{% block main_content %}

  {% if related_refs_n_tags %}
      <h2>References tagged with '{{ tag.tag }}':</h2>
      <div style="width:750px">
      <ul>
      {% for ref, tags, text in related_refs_n_tags %}
      <li style="margin:10px 0px; list-style:none"><a style="font-size:1.2em" href="/tagz/refs/{{ ref.pretty_ref }}">{{ ref.pretty_ref }}</a>
        <ul>
          <li style="font-size:1.3em">
          {{ text }} 
          </li
          <li>
        {% for rtag in tags %}
          <a href="/tagz/tags/{{ rtag }}/">{{ rtag }}</a>
        {% endfor %}
          </li>
        </ul>
      </li>
      {% endfor %}
      </ul>
      </div>
  {% else %}
      <p>This tag is not used for any reference.</p>
  {% endif %}
  <p>
  <p>
  Return to <a href="/tagz/tags">all tags</a>.

{{ block.super }}
{% endblock main_content %}
