{% extends "base.html" %}

{% block title %}{{ block.super }} - Library Resource{% endblock %}

{% block main_content %}

<form action="/tagz/lib/{{resource_name}}/{{sub_ref}}" method="get" class="form-search">
    <input class="search-query" type="text" name="q" placeholder="enter a reference or query"/>
<input type="submit" value="search" />
<p>

  {% if resource_name != title %} 
  <ul class="inline">
    <li><a href="{{resource_path}}">{{ resource_name }}</a></li> 
    <li><a href="{{resource_path}}/{{parent_ref}}">Up</a></li> 
    {% if previous_ref %}
    <li><a href="{{resource_path}}/{{previous_ref}}">Previous</a></li> 
    {% endif %}
    {% if next_ref %}
    <li><a href="{{resource_path}}/{{next_ref}}">Next</a></li> 
    {% endif %}
  </ul>

  {% endif %} 

  <h1> {{ title }}</h1>
  {% if children %}
    {% for child in children %}
    <div class="row-fluid">
      <div class="span2">
        <a class= "main-ref" href="{{resource_path}}/{{child.pretty}}">{{ child.pretty }}</a>
      </div>
        {% if show_child_text %}
        <span {% if child.pretty in highlights %}class='highlighted'{% endif %}>
          {{ child.text }}
        </span>
        {% else %}
        <div class="span10">
          {% for child2 in child.children %}
            {% with child2.pretty|cut:child.pretty|cut:":" as child2_short %}
              <a href="{{resource_path}}/{{child2.pretty}}">{{ child2_short }}</a>
            {% endwith %}
          {% endfor %}
        </div>
        {% endif %}
    </div>
    <hr>
    {% endfor %}
  {% elif text %}
    <p>
    {{ text }}
    <p>
    <a href="{{resource_path}}/{{sub_ref}}?ctx=3">Context</a>
  {% else %}
    There were no results.
  {% endif %}

  <br>
  <br>

{{ block.super }}
{% endblock main_content %}
