{% extends "base.html" %}

{% load filters %}

{% block title %}{{ block.super }} - Index{% endblock %}

{% block main_content %}

  <h2>Create tag reference</h2>
  <br>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <div ng-controller="TagCtrl">
  <form name="theForm" action="{% url post_tagref '((tag))' %}" method="post" class="form-horizontal">
  {% csrf_token %}
  
    <div class="control-group">
      <label class="control-label" for="inputTag">Tag</label>
      <div class="controls" ng-init="tag='{{ tag_name|default:"" }}';">
        <input name="theTag" type="text" id="inputTag" ng-model="tag"
          {% if tag_name %} disabled {%endif%}>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputResource">Resource</label>
      <div class="controls" >
        <select name="resource_id" id="inputResource" 
                ng-init="resources={{ resources|jsonify }}; 
                selectedResource=(resource || '{{res_default}}')" 
                ng-options="r for r in resources" ng-model="selectedResource">
        </select>
        <input type="hidden" name="resource" value="((selectedResource))" >
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputRef" >Reference</label>
      <div class="controls">
        <input name="reference" type="text" id="inputRef" 
               placeholder="e.g. Jn 3:16" ng-model="reference">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputPrivate">Private</label>
      <div class="controls">
        <label class="checkbox">
          <input name="private" type="checkbox" id="inputPrivate">
        </label>
        <br>
        <button type="submit" class="btn" id="submitButton">Save</button>
      </div>
    </div>
  </form>
  </div>

{{ block.super }}
{% endblock main_content %}



