{% extends "base.html" %}

{% block title %}{{ block.super }} - Index{% endblock %}

{% block main_content %}

  <div>

    <form method='post' enctype="multipart/form-data" action="{% url tags_import %}">
            {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
        <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
        </p>
        <p><input type="submit" value="Upload" /></p>

        <!--
      <p>Select input file: *.tsv</p>
      <div style="position:relative;">
        <a class='btn' href='javascript:;'>
        Choose File...
        <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
        </a>
        &nbsp;
        <span class='label label-info' id="upload-file-info"></span>
      </div>
      <br>
      <button type="submit" class="btn">Submit</button>
        -->
    </form>

  <p>
  <p>
  Return to <a href="{% url tags %}">all tags</a>.

  </div>

{{ block.super }}
{% endblock main_content %}
