{% extends "base.html" %}

{% block title %}{{ block.super }} - Home {% endblock %}

{% block main_content %}

<h2>Nutritious</h2>

<p>
Browse, search, and tag textual content.

<ul>
  <li> Search with keywords or <a href="http://en.wikipedia.org/wiki/Regular_expression">regular expressions</a>.
<li> Build your own collection of topical tags of quotations in text.
<li> Standard browsing and navigation.
</ul>

<h4>Tips</h4>

<ul>
<li>Visit the Library to see resources available for browsing.
  <ul>
    <li>Currently resources are limited to a fixed, shared set.
    <li>In the future users might upload and share their own.
  </ul>
<li>Search over textual content currently being viewed (e.g. current book or chapter).
<ul>
  <li>Use keywords or patterns: "Adam.*ate".
  <li>Search for tags with the hash sign: "#funny"
  <li>Jump to the search bar with Ctrl-S.
</ul>
<li>Copy selected text from books with Ctrl-C.
<li>Create tags by highlighting text and pressing Ctrl-T.
  <ul>
    <li>View tags in the "guest" account, or contact  <a href="http://www.jplehmann.com">me</a> to request an account to create your own tag collection.
    <li>Bulk import or export entire sets of tags.
  </ul>
</ul>

<p>
<h4>Disclaimer</h4>
<p>This is a work in progress. 
<p>View source code, plans, and technical details at <a href="http://www.github.com/jplehmann/nutritious">github</a>.

{{ block.super }}
{% endblock main_content %}
